* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  width: 100%;
}
img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  vertical-align: bottom;
}
.top-img {
  object-position: 23% 0;
}
.top-page {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* position: sticky;
  top: 0%; */
}
.top-page .top-text span {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  width: 23.2ch;
  font: bold 150% Consolas, Monaco, monospace;
  color: #444;
  overflow: hidden;
  white-space: nowrap;
  font-weight: 400;
  border-right: 2px solid transparent;
  animation: typing 5s steps(23), caret 1s steps(1) infinite;
}
@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes caret {
  50% {
    border-right-color: currentColor;
  }
}

.scroll-bar {
  position: absolute;
  bottom: 0;
  left: 70%;
  width: 10px;
  height: 100px;
  border-right: 2px solid #444;
}
.scroll-ball {
  position: absolute;
  bottom: 100px;
  left: 50%;
  width: 10px;
  height: 10px;
  /* background-color: rgb(142, 241, 241); */
  background-color: #444;
  opacity: 0;
  border-radius: 50%;
  animation: scroll-ball 3s ease-in-out infinite;
}
.scroll-text {
  position: absolute;
  bottom: 9%;
  left: 75%;
  color: #444;
  font: normal 70% Consolas, Monaco, monospace;
  width: auto;
}
@keyframes scroll-ball {
  0% {
    bottom: 100px;
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    bottom: 0;
    opacity: 0;
  }
}

.top-container {
  position: sticky;
  top: 0;
}

/* ------------ my gallery ----------- */
.gals {
  /* display: flex; */
  overflow: hidden;
}
.gal1,
.gal2,
.gal3 {
  margin: 1rem auto;
  width: 250px;
  height: 200px;
  background-color: cadetblue;
  position: relative;
  transition: 5s;
}
.gal-text {
  padding: 0.5rem 0;
  text-align: center;
  background-color: rgba(68, 68, 68, 0.4);
  position: absolute;
  bottom: 0;
}
.gal1:hover .gal-text,
.gal2:hover .gal-text,
.gal3:hover .gal-text {
  height: 200px;
}
/* ------------ pc ----------- */
@media (min-width: 640px) {
  .top-img {
    object-fit: cover;
    object-position: 23% 100%;
  }
  .top-page .top-text span {
    position: absolute;
    top: 30%;
    left: 70%;
    font: bold 200% Consolas, Monaco, monospace;
  }
}
